/* --- GLOBAL --- */

body {
  margin: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: white;
}

/* --- SEPARATOR --- */

#separator {
  display: flex;
  height: 100vh;
}

/* --- LEFT PANEL --- */

#left-panel {
  background-color: #2a2a2a;
}

.channel-select-mode #left-panel {
  flex: 30%;
}

.video-mode #left-panel {
  flex: 70%;
}

/* --- VIDEO PLAY --- */

.channel-select-mode #video-play {
  display: none;
}

/* --- CHANNEL SELECTION --- */

.video-mode #channel-select {
  display: none;
}

.channel-container {
  text-align: justify;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, 0.5);
}

.channel-title {
  font-weight: 700;
  font-size: 1.4em;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: block;
  cursor: pointer;
}

.channel-content {
  display: none;
}

.selected .channel-content {
  display: block;
}

.selected .channel-title {
  background-color: #222;
}

.channel-description {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
}

.channel-link {
  float: right;
  margin-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

.channel-link-icon {
  height: 40px;
  width: 40px;
}

/* --- RIGHT PANEL --- */

#right-panel {
  background-color: #0f0;
}

.channel-select-mode #right-panel {
  flex: 70%
}

.video-mode #right-panel {
  flex: 30%;
}

/* --- PLAYER --- */

#player {
  background-color: #00f;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
}

/* --- PLAYER IMAGE --- */

#player-image {
  background-color: #ff0;
  position: fixed;
  left: 0;
  height: 100%;
  width: 200px;
}

.video-mode #player-image {
    display: none;
}
